.reset-password-container {
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.reset-form {
    display: flex;
    flex-direction: column;
}